
body {
    margin: 0;
    padding: 50px;
    font-family: sans-serif;
    }
   
     
    

.contenedor-principal {
    display: flex;
    gap: 30px; 
    justify-content: center;
}


.caja {
    width: 200px;
    height: 200px;
    border: 3px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7); 
}


.solida {
    background-color: rgba(100, 50, 200, 1);
}


.media {
    background-color: rgba(100, 50, 200, 0.5);
}


.sutil {
    background-color: rgba(100, 50, 200, 0.2);
   
    color: #333; 
    text-shadow: none;
}