.seccion-fondo {
    
    background-image: url(mega\ rayquaza.webp);

    background-repeat: no-repeat;

    background-size: cover; 

    background-position: center;
    
    width: 100%;
    height: 1000px; 
}