
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f4f4f4;
}


.contenedor-gradiente {
    width: 80%;     
    height: 200px;    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    border-radius: 15px;  
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background: linear-gradient(90deg, #6a11cb, #2575fc);
}