
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    gap: 30px; 
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.box h3 {
    margin-top: 0;
    border-bottom: 2px solid rgba(255,255,255,0.3);
    padding-bottom: 10px;
}


.gradient-horizontal {
    background: linear-gradient(to right, #11998e, #38ef7d);
}

.gradient-angled {
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045); 
   
}


.gradient-radial {
    background: radial-gradient(circle, #ff9966, #ff5e62);
}