body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.mini-banner {
    width: 90%;
    max-width: 500px; 
    height: 100px;
    border-radius: 15px; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.15); 
    overflow: hidden;
    
    display: flex;
    align-items: center; 
    padding-left: 30px;

    background-image: 
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24'%3E%3Cpath d='M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58s1.05-.22 1.41-.58l7-7c.37-.36.59-.86.59-1.41s-.23-1.06-.6-1.43zM13 20l-9-9V4h7l9 9-7 7zm-1-8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z'/%3E%3C/svg%3E"),
        linear-gradient(135deg, #FF416C, #FF4B2B);

    background-repeat: no-repeat;

    background-size: 80px; 

    background-position: right 20px center; 
}

.banner-text {
    color: rgb(12, 11, 11); 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.banner-text h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.banner-text p {
    margin: 5px 0 0 0;
    font-size: 1rem;
}